*{
	box-sizing: border-box;
  }
body {
 	margin: 0;
 	font-family: 'Raleway', sans-serif;
 }
.container {
	margin: 0 auto;
	max-width: 1170px;
	min-width: 476px;
}
/*clearfix*/
.row:before,
.row:after {
    content: ""; 
    display: block; 
} 
.row:after {
    clear: both;
}
nav {
	min-height: 150px;
	width: 100%;
}
#logo>img {
	min-height: 80px;
	max-width: 80px;
	float: left;
	margin: 30px 20px;
}
#menu>button {
	float: right;
	border-radius: 15%;
	height: 80px;
	width: 80px;
	cursor: pointer;
	display: inline-block;
	font-family: 'Pacifico', cursive;
	font-size: 18px;
	margin-top: 30px;
	margin-right: 20px;
	padding: 10px;
	background-color: white;
	text-align: center;
}
#menu>button:hover {
	color: #43e8d8;
	border: 1px solid #43e8d8;
	-webkit-transform: rotate(45deg);
    transform: rotate(45deg);
 }
 #logo>img:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.jumbotron {
	background-image: url('https://static.pexels.com/photos/2170/creative-desk-pens-school-large.jpg');
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	height: 100vh;
	overflow: hidden;
	text-align: center;
	width: 100%;
	position: relative;
}
.jumbotron h1 {
	font-family: 'Raleway', sans-serif;
	padding: 30px;
	margin: 0 auto;
	color: #43e8d8;
	border: 0;
	font-size: 38px;
}
.jumbotron p {
	padding: 20px;
	display: inline-block;
	width: 50%;
	min-width: 200px;
	font-family: 'Raleway', sans-serif;
	margin: 0 auto;
	line-height: 20px;
	color: white;
	text-shadow: 2px 2px 2px black;
	font-size: 14px;
}
/*GALLERY*/
.photo>img:hover {
	cursor: pointer;
	-webkit-filter:invert(1);
	overflow: hidden;
}
.photo {
	float: left;
	max-width: 30%;
	margin-right: 5%;
}
.photo img {
	width: 400px;
	height: 250px;
	margin: 20px 0;
}
.photo:last-of-type {
	margin-right: 0;
}
/*ABOUT */
.about {
  padding: 50px 0;
}
.about i {
  color: white;
  background-color: #43e8d8;
  border: 0;
  border-radius: 10px;
  font-size: 60px;
  padding: 10px;
  text-align: center;
  width: 100px;
  height: 100px;
}
.col:hover i {
  background-color: white;
  border: 1px dotted #43e8d8;
  color: #43e8d8;
}
.col:hover h3 {
  color: black;
}
.about .one {
  text-align: center;
}
.about h3 {
  font-family: 'Pacifico', cursive;
}
.about p {
  font-size: 12px;
  display: inline-block;
  text-align: center;
  padding: 10px;
  line-height: 20px;
}
/*MAP*/
.map {
	width: 100%;
	min-width: 300px;
	padding: 20px;
	border: 0;
}
/*FOOTER*/
footer {
	height: 100px;
	text-align: center;
	background-color: #43e8d8;
    margin-bottom: 0;
    width: 100%;
}
footer i {
	background-color: black;
	color: white;
	border: 0;
	padding: 5px;
	border-radius: 2px;
	height: 30px;
	width: 30px;
	text-align: center;
	font-size: 30px;
	margin: 10px 10px;
}
footer .col-12 {
  padding-top: 10px;
}
/*GRID*/
[class*="col-"] {
  float: left;
  min-height: 1px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-offset-0 {margin-left: 0;}
.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}
/*end of grid*/
/*MEDIA*/
@media (max-width: 1200px){
	.container {
		width: 100%;
	}	
}
@media (max-width: 768px) {
	nav {
		float: none;
		text-align: center;
		display: inline-block;
	}
	#menu>button {
		float: none;
		margin: auto 20px;
	}
	#logo>img {
		margin: 5% auto;
		float: none;
		display: block;
	}
	.container {
		float: none;
		width: 100%;
	}
	.jumbotron p {
		width: 80vw;
		margin: 0 auto;
	}
	.gallery img {
		margin: 10px auto;
		width: 100vw;
	}
	.col {
		width: 100%;
		min-width: 300px;
	}
	.photo {
		width: 100%;
		min-width: 300px;
		margin: 0 auto;
		display: inline-block;
	}
	.map {
		width: 100vw;
	}
}